* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary-bg-color);
    font-family: var(--fuente);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
}

/* VARIABLES GLOBALES */
:root {
    /* BACKGROUND COLORS */
    --main-bg-color: rgb(235, 245, 236);
    --secondary-bg-color: #222;
    /* NAVBAR COLORS*/
    --navbar-color: rgb(235, 245, 236);
    --navbar-toggler: #523523;
    --navbar-toggler-border: #ffffff;
    --navbar-toggler-border-active: rgb(0, 52, 73);
    --navbar-hoover: rgb(0, 209, 177);
    /* FOOTER BACKGROUND COLOR*/
    --footer-bg-color: #222;
    /* BORDER COLORS*/
    --border-color: rgb(63, 47, 47);
    /* FONT */
    --fuente-color: white;
    --fuente: 'Roboto Condensed', sans-serif
}

.navbar {
  background-color: var(--navbar-color);
}

/* Cambia el fondo del Navbar 
.navbar .container-fluid {
  background-color: var(--navbar-color);
}*/


  /* Cambia el color del texto de los enlaces */
.navbar .nav-link {
  color: rgb(0, 0, 0);
}
  
  /* Cambia el color del texto al pasar el mouse por encima */
.navbar .nav-link:hover {
  color: var(--navbar-hoover); /* Dorado */
  text-shadow: 1px 1px 1px var(--navbar-toggler-border-active)
}
  
  /* Cambia el color del enlace activo */
.navbar .nav-link.active {
 color: var(--navbar-toggler-border-active);
}

 /* Frase principal */
 .frase {
  background: linear-gradient(to right, var(--main-bg-color), white);
  color: var(--secondary-bg-color);
  padding: 20px 20px;
  font-family: var(--fuente);
  text-shadow: 1px 1px 4px var(--main-bg-color);
}

.frase h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.frase p {
  font-size: 1.3rem;
  line-height: 1.3;
  max-width: 700px;
  margin: 0 auto;
}

footer{
  background-color: var(--footer-bg-color);
  padding: 3rem;
  color:white
}

footer p{
  margin: 0;
  color: white;
}

footer a{
  color: white;
}
